# Python
__pycache__/
*.pyc



# OS
.DS_Store
Thumbs.db

# Local env
.env
venv

# Build
build 
dist
icon.iconset
icon.icns
Badminton Fund Settlement.dmg


#Badminton Expense Splitter.spec
app_icon.icns
app_icon.iconset/
badminton_logo.png
Badminton Expense Splitter.spec